body {
    font-family: sans-serif;
}
body header{
    padding: 20px;
    background-color: lightblue;
    border-radius:10px
}
main h1{
    color: rgb(29, 251, 0);
    text-align: center;
}
footer{
    background-color: rgb(176, 88, 24);
    border: 20px solid rgb(176, 88, 24);
}
.tr{
    background-color: white;
}
.tg{
    color: blue;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 3px;
    border: 2px solid blue;
    display: block;
}
nav a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 3px;
    border: 2px solid blue;
    display: block;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
.tf{
    background-color: rgb(124, 0, 0);
    border-radius: 10px;
    padding: 5p;
}
.r{
    color: blue;
}
.g{
    text-decoration:none;
    border-radius: 0px;
    border: 3px solid darkblue;
    padding: 5px;
}
h1{
    text-transform: uppercase
}
